
<ion-view hide-nav-bar="true">
  <form name="loginForm" ng-controller="LoginCtrl">
  <ion-content class="login-page">
    <div class="row" style="height:30vh;">
      <div class="col logo-col">
        <img src="img/BakerLogo.jpg" alt="" />
      </div>
    </div>
    <div class="row" style="height:10vh">
      <div class="col">
        <button class="button button-full login-btn" style="background-color: #f0aa5b; height:10vh; font-size:26px" ng-click="resetPassword(user.email)">
          RESET PASSWORD
        </button>
      </div>
    </div>
    <div class="row" style="height:50vh; background: #696969;" >
      <div class="col">
        <div class="list list-inset " style="background:transparent; width:85%; max-width: 500px; margin-left:auto; margin-right: auto;">
          <label id = "rounded" class="item item-input">
            <i class="icon ion-ios-email-outline placeholder-icon" style="padding-top: 4px;"></i>
            <input type="text" placeholder="EMAIL"  type="email" ng-model="user.email" required>
          </label>
        </div>
      </div>
    </div>
    </form>

  </ion-content>
  <div class="bar bar-footer login-footer">
    <div class="title" ng-click="goToLogin()">Back to login</div>
  </div>
</ion-view>
