<ion-view  >
  <ion-header-bar class="bar-positive">
    <button class="button icon ion-arrow-left-c" ng-click="goToLogin()"> Back </button>
  </ion-header-bar>
 <ion-content class="padding" style="padding-top:20px;">
   <img src="img/BakerMotorCompany_logo.png" style="padding: 3rem 0; margin-left:auto; margin-right:auto; display:block;" alt="">
    <div class="list list-inset">
      <label class="form-box item item-input">
        <i class="icon ion-ios-email-outline placeholder-icon"></i>
        <input style="font-size:20px;padding-top:10px;font-family:Brandon;color:grey;" type="email" placeholder="Email" ng-model="user.email" required>
      </label>
    </div>

    <button style="font-family:Brandon;" class="button button-block button-positive" ng-click="resetPassword(user.email)">
      Send Reset Instructions
    </button>

  </ion-content>

</ion-view>
