<ion-view hide-nav-bar="true">
  <form name="loginForm" ng-controller="LoginCtrl">
  <ion-content class="login-page">
    <div class="row" style="height:30vh;">
      <div class="col logo-col">
        <img src="img/BakerLogo.jpg" alt="" />
      </div>
    </div>
    <div class="row" style="height:10vh">
      <div class="col">
        <button class="button button-full login-btn" style="background-color: #f0aa5b; height:100%" ng-click="login(user)">
          LOGIN
        </button>
      </div>
    </div>
    <div class="row" style="height:50vh; background: #696969;" >
      <div class="col">
        <div class="list list-inset " style="background:transparent; width:85%; max-width: 500px; margin-left:auto; margin-right: auto;">
          <label id = "rounded" class="item item-input">
            <i class="icon ion-ios-email-outline placeholder-icon" style="padding-top: 3px;"></i>
            <input type="text" placeholder="EMAIL"  type="email" ng-model="user.email" required>
          </label>
          <label id = "rounded" class="item item-input">
            <i class="icon ion-ios-locked-outline placeholder-icon" style="padding-left: 13px; padding-top: 2px;"></i>
            <input type="text" placeholder="PASSWORD" ng-model="user.password" required>
          </label>
          <div class="button button-full" style="background:transparent; color: rgba(256,256,256,.6); font-weight:600; font-size:16px; letter-spacing: 1px;" ng-click="goToForgotPassword()">
            forgot password?
          </div>
        </div>
      </div>
    </div>
    </form>

  </ion-content>
  <div class="bar bar-footer login-footer">
    <div class="title" ng-click="goToSignUp()">Create an account</div>
  </div>

</ion-view>
