<ion-view hide-nav-bar="true">
  <form name="loginForm" ng-controller="LoginCtrl">
  <ion-content class="login-page">
    <div class="row" style="height:30vh;">
      <div class="col">
        <img src="img/BakerMotorCompany_logo.png" style="padding: 3rem 0; margin-left:auto; margin-right:auto; display:block;" alt="" />
      </div>
    </div>
    <div class="row" style="height:10vh">
      <div class="col">
        <button class="button button-full" style="background-color: #f0aa5b; height:100%">
          Login
        </button>
      </div>
    </div>
    <div class="row" style="height:50vh; background: #696969;" >
      <div class="col">
        <!-- <div class="list list-inset"> -->
          <!-- <label class="form-box item item-input">
            <i class="icon ion-ios-email-outline placeholder-icon"></i>
            <input style="font-size:20px;padding-top:10px;font-family:Brandon;color:grey;"  type="email" placeholder="Email" ng-model="user.email" required>
          </label>
          <label class="form-box item item-input">
            <i class="icon ion-ios-locked-outline placeholder-icon"></i>
            <input style="font-size:20px;padding-top:10px;font-family:Brandon;color:grey" type="password" placeholder="Password" ng-model="user.password" required>
          </label> -->
          <div class="list list-inset" style="background:transparent; width:80%; max-width: 500px; margin-left:auto; margin-right: auto;">
            <label id = "rounded" class="item item-input">
              <i class="icon ion-ios-email-outline placeholder-icon"></i>
              <input type="text" placeholder="Email"  type="email" ng-model="user.email" required>
            </label>
          </div>
          <div class="list list-inset" style="background:transparent; width:80%; max-width: 500px; margin-left:auto; margin-right: auto;">
            <label id = "rounded" class="item item-input">
              <i class="icon ion-ios-locked-outline placeholder-icon"></i>
              <input type="text" placeholder="Password" ng-model="user.password" required>
            </label>
          </div>
        <!-- </div> -->
      </div>
    </div>
    <!-- <div class="row">
      <div class="col">
        <button class="button button-clear button-positive">
          Create an account
        </button>
      </div>
    </div> -->
    </form>


    <!-- <button style="font-family:Brandon; background-color: #114926;" class="button button-block button-positive" ng-click="login(user)">
      Login
    </button>
    <button  style="font-family:Brandon; background-color: #114926;" class="button button-block button-positive" ng-click="goToSignUp()">
      Sign Up
    </button>
    <div class="text-center">

    <button style="font-family:Brandon;color:grey;font-size:16px;" class="button button-clear button-positive " ng-click="goToForgotPassword()">
      Forgot password
    </button> -->
    <!-- </div> -->
  </ion-content>
  <div class="bar bar-footer bar-balanced" style="background: #494949; height:10vh;">
    <div class="title">Create an account</div>
  </div>

</ion-view>
