<!-- <ion-nav-bar>
  <ion-nav-title>
      <img src="{{dealership.logo_url}}" style="margin-left:auto; margin-right:auto; display:block;" height="40px" alt="">
   </ion-nav-title>
</ion-nav-bar>
<ion-view> -->
  <ion-content style="background: url({{dealership.background_image_url}}) no-repeat center center fixed; padding-top:0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;" has-footer="true">
    <div class="row" style="height:80%">

    </div>


  </ion-content>

  <!-- Footer Content -->
  <div ng-include src="'templates/partials/footer.html'"></div>
</ion-view>
