<ion-view>
  <!-- <ion-nav-bar class="" ng-style="{ 'background-color': dealership.primary_color }">
    <ion-nav-title>
        <img src="{{dealership.logo_url}}" style="margin-left:auto; margin-right:auto; display:block;" height="40px" alt="">
     </ion-nav-title>
  </ion-nav-bar> -->

  <ion-content style="" has-footer="true">
    <div class="row" style="height:80%">
      Hello! Tab-Connect
    </div>
    <!-- <img src="{{dealership.background_image_url}}" class="fullscreen-image" alt=""> -->
    <!-- <div class="row"style="width:100%; height:20%; background-color:black">

    </div> -->

  </ion-content>

  <ion-footer-bar style="background-color:#444">
    <div class="button-bar">
       <a class="button button-calm" href="#/tab/new_cars">New Cars</a>
       <a class="button button-balanced" href="#/tab/used_cars">Used Cars</a>
    </div>
  </ion-footer-bar>
</ion-view>
