<ion-content style="background: url({{dealership.background_image_url}}) no-repeat center center fixed; padding-top:0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;" has-footer="true">

    <div class="row" style="height:80%">

    </div>


  </ion-content>

  <ion-footer-bar style="background-color:#444; height: 60px;">
    <div class="button-bar">
       <a class="button button-calm" href="#/tab/new_cars"
       style="
       line-height: 40px;
       margin: auto 4.5%;
       width:40%;
       border-radius: 6px;">New Cars</a>
       <a class="button button-balanced" href="#/tab/used_cars"
       style="
       line-height: 40px;
       margin: auto 4.5%;
       width:40%;
       border-radius: 6px;">Used Cars</a>
    </div>
  </ion-footer-bar>
</ion-view>
