<ion-view>
  <!-- <ion-nav-bar class="" ng-style="{ 'background-color': dealership.primary_color }">
    <ion-nav-title>
        <img src="{{dealership.logo_url}}" style="margin-left:auto; margin-right:auto; display:block;" height="40px" alt="">
     </ion-nav-title>
  </ion-nav-bar> -->

  <ion-content style="" has-footer="true">

  <div class="list list-inset">
    <a class="item item-icon-left" href="#/tab/parts">
      <i class="icon ion-model-s"></i>
      Find Parts
    </a>
    <a class="item item-icon-left" href="#/tab/financing">
      <i class="icon ion-cash"></i>
      Financing
    </a>
  </div>

  <div class="list list-inset">
    <a class="item item-icon-left" href="#">
      <i class="icon ion-eject"></i>
      Logout
    </a>
  </div>

  </ion-content>

  <ion-footer-bar style="background-color:#444">
    <div class="button-bar">
       <a class="button button button-large button-calm" href="#/tab/new_cars">New Cars</a>
       <a class="button button button-large button-balanced" href="#/tab/used_cars">Used Cars</a>
    </div>
  </ion-footer-bar>
</ion-view>
