
<ion-view view-title="{{current_conv.sender_name}}" class="mainBackground">  <!--TODO: ADD name of person -->
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ui-sref="tab.conversations">
      <i class="icon ion-ios-arrow-back"> Back</i>
    </button>
  </ion-nav-buttons>
  <ion-content class="padding gradientBackgroundImage" style="padding-top:20px;" delegate-handle="userMessageScroll">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="getMessages()">
    </ion-refresher>
    <ol class="messages-container">
      <li ng-repeat="message in messages" class="item message-item" style="width:100%; background:transparent;">
        <div ng-class="{{message.sender_id == current_user.id}} ? 'message-from-me' : ['message-from-sender']" style="display: inline-block; padding-right: 20px;">
          <!-- <img ng-src="{{current_conv.sender_image}}" ng-hide="{{message.sender_id == current_user.id}}" style=""> -->
          <p style="color:white; padding-left:10px; width:auto; overflow: visible; overflow-wrap: break-word;white-space: normal;">{{message.body}}</p>
        </div>
        <!-- <h2>{{changeName(message.sender_name)}} </h2> -->
      </li>
    </ol>
    <div ng-init="afterMessagesLoad()"></div>

  </ion-content>
  <ion-footer-bar keyboard-attach style="height: 55px; padding:0; background-color: #444;">
    <div class="button-bar" style="padding: 8px; padding-top:1px;">
      <div class="message-item item-divider" style="width:100%; margin-bottom: 0; background-color: #444;">
        <button class="button button-small button-positive" style="float:right; max-height: 35px;background: #34a2dab3;" ng-click="reply(replyMessage.body)">Send</button>
        <div style="overflow: hidden; padding-right: .5em;">
          <input type="text" ng-model="replyMessage.body" style="width: 100%; color:#212121" />
        </div>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>



<!-- startConversation(match.id, replyMessage.body) -->
