<ion-view>
  <!-- <ion-nav-bar class="" ng-style="{ 'background-color': dealership.primary_color }">
    <ion-nav-title>
        <img src="{{dealership.logo_url}}" style="margin-left:auto; margin-right:auto; display:block;" height="40px" alt="">
     </ion-nav-title>
  </ion-nav-bar> -->

  <ion-content style="" has-footer="true">
    <div class="list list-inset">
    <a class="item item-icon-left" ng-click="contactSales()">
      <i class="icon ion-email"></i>
      Contact Sales
    </a>

    <a class="item item-icon-left" ng-click="contactService()">
      <i class="icon ion-wrench"></i>
      Contact Service
    </a>
    <a class="item item-icon-left" ng-click="goToMaps()" target="_system">
      <i class="icon ion-map"></i>
      Get Directions
    </a>

<!-- For android need to implement this  -->
<!-- <a href="geo:?q=LOCATION" target="_system">Map</a> -->

    <a class="item item-icon-left" ng-click="callDealership()">
      <i class="icon ion-iphone"></i>
      Call Dealership
    </a>

  </div>
  </ion-content>

  <ion-footer-bar style="background-color:#444">
    <div class="button-bar">
       <a class="button button button-large button-calm" href="#/tab/new_cars">New Cars</a>
       <a class="button button button-large button-balanced" href="#/tab/used_cars">Used Cars</a>
    </div>
  </ion-footer-bar>
</ion-view>
