<ion-view type="text/ng-template">
  <!-- <ion-nav-bar class="" ng-style="{ 'background-color': dealership.primary_color }">
    <ion-nav-title>
        <img src="{{dealership.logo_url}}" style="margin-left:auto; margin-right:auto; display:block;" height="40px" alt="">
     </ion-nav-title>
  </ion-nav-bar> -->

  <ion-content has-footer="true">
    NEW CARS


  </ion-content>

  <!-- <ion-footer-bar style="background-color:#444">
    <div class="button-bar">
       <a class="button button-calm" href="#/tab/new_cars">New Cars</a>
       <a class="button button-positive" ng-click="goToUsed()">Used Cars</a>
    </div>
  </ion-footer-bar> -->
</ion-view>
