<ion-view>
  <ion-content style="" has-footer="true">
  <div class="list list-inset">
    <a class="item item-icon-left" href="#/tab/parts">
      <i class="icon ion-model-s"></i>
      Find Parts
    </a>
    <a class="item item-icon-left" href="#/tab/financing">
      <i class="icon ion-cash"></i>
      Financing
    </a>
  </div>

  <div class="list list-inset">
    <a class="item item-icon-left" ng-click="logout()">
      <i class="icon ion-eject"></i>
      Logout
    </a>
  </div>

  </ion-content>

  <ion-footer-bar style="background-color:#444; height: 60px;">
    <div class="button-bar">
       <a class="button button button-large button-calm" href="#/tab/new_cars"
       style="
       line-height: 40px;
       margin: auto 4.5%;
       width:40%;
       border-radius: 6px;">New Cars</a>
       <a class="button button button-large button-balanced" href="#/tab/used_cars"
       style="
       line-height: 40px;
       margin: auto 4.5%;
       width:40%;
       border-radius: 6px;">Used Cars</a>
    </div>
  </ion-footer-bar>
</ion-view>
