.holds-the-iframe {
  height:100%;
  padding-bottom:60px;
  background-image: url(../img/box.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-y: scroll;
}

.no-matches-container{
  margin-top: 30vh;
  background-color: #455A64;
  border-radius: 5px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding:10px;
  text-align: center;
  box-shadow: 0 0 10px black;
}


.tabs .tab-item .badge.badge-assertive, .badge.badge-assertive {
  opacity: 1; }

.message-from-me {
  background: #FF5252 !important;
  border-radius: 30px 30px 0px 30px;
  max-width: 90%;
  float: right;
  text-align: right;
  padding: 10px; }

.message-from-sender {
  float: clear;
  background: rgba(0, 0, 0, 0.5) !important;
  border-radius: 30px 30px 30px 0;
  max-width: 90%;
  width: auto;
  padding: 10px; }

.messages-container li.item {
  padding: 0; }

.item {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  margin-bottom: 1.5vh;
  font-family: Brandon;
  font-size: 20px; }

.startChatButtons{
  line-height: 35px;
  margin: auto 4.5%;
  width: 40%;
  border-radius: 10px !important;
  height: 80%;
  color: #d7dada;
  border: 1px solid #95a4a9 !important;
  background: #364859;
  font-size: 30px;
  font-weight: 100;
  text-shadow: 0 0 10px #1c1c1c;
  padding-top:3px !important;
}

.startChatButtons:hover{
  color: #d7dada;
}
.sendMessagePopup{
  background: rgba(0, 0, 0, .6);
}
.sendMessagePopup .popup{
  width:85%;
  border-radius: 10px;
  align-self: flex-start;
  margin-top: 60px;
  background: white;
  box-shadow: 0 0 10px black;
}
